* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
  
  body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
  }

  .background-blue {
    background-color: #0657fa;
    height: 240px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .image {
    position: relative;
    margin-top: 48px;
  }

  button span{
    text-transform: capitalize;
  }
  
  a span {
    text-transform: capitalize;
  }